.menu-1QACrS {
    backdrop-filter: blur(40px) !important;
    background: none !important;
}
.body-1Ukv50, .activity-3v9l4T, .avatar-2Vndt_, .headerTop-2y3V6H, .headerTop-3GPUSF, .headerTop-2cWpdB, .activity-fViXj7, .body-2wLx-E, .topSection-13QKHs, .avatar-3QF_VA, .aboutMeSection---MkQa, .footer-3naVBw, .footer-1N3bR3, .bodyInnerWrapper-2bQs1k, .profileBannerPreview-3_l0Wd, .userPopout-2j1gM4 {
    background: none !important;
    background-color: transparent !important;
    backdrop-filter: blur(40px) !important;
}

.container-8Futzw {
    background: none !important;
    background-color: transparent !important;
    backdrop-filter: blur(40px) !important;
}

.message-G6O-Wv, .messageGroupCozy-3v_RqN, .container-iA3Qrz .button-1_oXub, .tooltipBrand-20XsMA, .channel-3NJZ1V, .fileUpload-MFkgW2, .popout-TdhJ6Z, .upsellTooltipWrapper-1wqikQ {
    background: none !important;
    background-color: transparent !important;
    backdrop-filter: blur(40px) !important;
}

.ChannelDms-channelmembers-wrap, .ChannelDms-channelmembers-header {
    background: transparent !important;
}

.ChannelDms-channelpopout-popout .ChannelDms-channelpopout-header div {
    background: none !important;
    background-color: transparent !important;
    backdrop-filter: blur(40px) !important;
}

.chatContent-3KubbW div,form {
    background: none !important;
    background-color: transparent !important;
    backdrop-filter: blur(40px) !important;
}