.winButton-3UMjdg {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    border-bottom-left-radius: 0 !important;
    top: -3px !important;
}

.titleBar-1it3bQ .winButtonMinMax-3RsPUg:not(:first-child):not(:last-child){
    border-radius: 0 !important;
}

.titleBar-1it3bQ .winButtonMinMax-3RsPUg:last-child {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 8px !important;
  }
