.winButton-3UMjdg {
    border-radius: 0 !important;
    top: -3px !important;
    box-shadow: 0px 0px 30px 25px var(--background-modifier-hover);  
}

.titleBar-1it3bQ .winButtonMinMax-3RsPUg:not(:first-child):not(:last-child){
    box-shadow: 0px 0px 30px 25px var(--background-modifier-hover);
}

.titleBar-1it3bQ .winButtonMinMax-3RsPUg:last-child {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 8px !important;
    box-shadow: 0px 0px 30px 25px var(--background-modifier-hover);  
}
